@charset "UTF-8";

:root {
    --preto: #0D0D0D;
    --branco: #D9D9D9;
    --bebe: #3f83bf;
    --azul_roxo: #265DA6;
    --azul: #034AA6;



    --cor-1: #05161A;
    --cor-2: #072E33;
    --cor-3: #0C7075;
    --cor-4l: #0F969C;
    --cor-5: #6DA5C0;
    --cor-6: #294D61;

    --cor-fundo: #0D0D0D;         
    --cor-principal: #034AA6;     
    --cor-texto: #FFFFFF;         
    --cor-subtitulo: #999999;     
    --cor-hover: #265DA6;         
    --cor-escura: #05161A;  
    --cor-destaque: #265da66c;   
    --roxo: #551B6E; 
}


* {
    margin: 0px ; padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
}

#container {
    display: grid;
    min-height: 100vh;
    grid-template: 60px auto auto auto auto / 1fr;
    grid-template-areas:
        "header"
        "menu"
        "sobre"
        "habilidades"
        "projetos";
    background-color: var(--preto);
    
    
}

/*--- header ---*/

header {
    position: fixed;
    width: 100%;
    background-color: var(--cor-fundo);
    z-index: 1000;
    
}

nav { 
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    margin: 20px;
}

a {
    color: var(--branco);
    text-decoration: none; 
}

a:hover {
    color: var(--cor-hover); 
}


#icons {
    grid-area: 3 / 2 / 4 / 3;
    z-index: 1;
}

.icon {
    font-size: 1.6em; 
    margin: 10px; 
    color: var(--branco);      
}
.icon:hover {
    color: var(--cor-hover); 
}

/*--- FIM do header ---*/


/*--- main ---*/

#menu {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  grid-template-rows: 1.5fr 1fr 0.8fr ;

  background-image: url(imagens/orange-chen-d4voyH-a1h0-unsplash\ \(3\).jpg);
  background-size: cover;
  background-position: center;
  z-index: 0; 
}

#menu::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: inherit;
  filter: brightness(0.7) contrast(1.2) grayscale(0.2);
  z-index: 1;
}


#menu > * {
  position: relative;
  z-index: 2; 
}


#nome {
    z-index: 1;
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: end;
    flex-direction: column;
    font-family: 'Lora', serif;
    position: relative;
}

div#nome > h1 {

    font-size: 100px;
    font-weight: 700;
    margin-left: -3px;
}

div#nome > h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: -30px; 
    
}


p.sub {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 3px;
    letter-spacing: 2px;
    font-size: 18px;
}

div.linha {
    display: flex;
    gap: 10px; 
}

div.linha > p#traco {
    color: var(--cor-principal);
    margin: -40px 0px;
    font-size: 50px;
}



#back-end {
    color: var(--cor-principal);
    font-weight: 700;
}

div#botao {
    grid-area: 2 / 2 / 4 / 3;
    padding-top: 20px;
}

main button {
    position: relative;
    padding: 10px 30px;
    background: transparent;
    cursor: pointer;
    color: white;
    z-index: 1;
    border: white solid 2px;
    border-radius: 7px;
    font-size: 15px;
    letter-spacing: 1px;
    

}

main button:hover {
    position: relative;
    z-index: 1;
    background: linear-gradient(to left, var(--cor-hover)) ;
    transition: linear-gradient 0.5s ease;
    color: var(--cor-hover);
    padding: 10px 30px;
    border: var(--cor-hover) solid 2px; ;
}

div#seta {
    display: flex;
    justify-content: center;
    grid-area: 3 / 1 / 4 / -1;

}


/*--- FIM do main ---*/


/*--- sobre ---*/
#sobre{ 
    display: grid;
    grid-template: 1fr 2fr 1fr 0.5fr / 0.5fr 3fr 3fr 0.5fr;
    background: linear-gradient(to bottom, #000000 10%, #0e062c 100%);
    height: 100vh;
}

div.quem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / -1;
}


#titulo {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right, var(--cor-principal), var(--bebe));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}


#foto {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 3 / 3 / 4;
    height: 100%;
}

.moldura {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 100px var(--azul);
    border: 4px solid var(--cor-subtitulo);
}

#self {
    width: 350px;
    height: 500px;
}


#texto_sobre {
    grid-area: 2 / 2 / 3 / 3;
    padding: 40px;
    border-right: 2px solid var(--cor-principal);
    height: 70px; 
    text-align: justify;  
    word-wrap: break-word; 
}

.conteiner_sobre {
    display: grid;
    grid: 1fr / 2fr 0.5fr ;
    background-color:var(--cor-destaque);
    margin: 20px 40px;

    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 100px #034aa6a4;
}

.conteiner_sobre > div#icon > .material-symbols-outlined {
    border-radius: 50%;
    padding: 5px;
    background-color: var(--bebe);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);

}

.numeros {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: end;
    font-size: 35px;
    flex-flow: column;
    justify-content: space-between;

}

#habilidades  { 
    height: 100vh;
    background-color: #0e062c;
}

#projetos  { 

}
